<div class="searchable-select-container" [class.open]="isOpen" [ngClass]="customClass">
  <div #selectBox [tabIndex]="enableKeyboardNavigation ? 0 : -1" class="select-box" (click)="toggleDropdown()" (keydown)="onSelectBoxKeydown($event)" [class.open]="isOpen" [class.disabled]="disabled">
    <div class="selected-text">{{ getDisplayValue() || placeholder }}</div>
    <div class="arrow-container">
      <i class="arrow" [class.up]="isOpen" [class.down]="!isOpen"></i>
    </div>
  </div>

  <div class="dropdown-panel" *ngIf="isOpen">
    <div class="search-container">
      <i class="icon-search">🔍</i>
      <input 
        #searchInput
        type="text" 
        [(ngModel)]="searchQuery" 
        (ngModelChange)="onSearchQueryChange()"
        (keydown)="onSearchKeydown($event)"
        [placeholder]="searchPlaceholder"
        class="search-input"
        (click)="$event.stopPropagation()"
      >
    </div>

    <div class="options-list">
      <div 
        *ngFor="let option of filteredOptions(); let i = index" 
        class="option-item" 
        (click)="selectOption(option)"
        [class.selected]="option === selectedValue"
        [class.highlighted]="i === highlightedIndex"
        (mouseenter)="highlightedIndex = i"
      >
        {{ option }}
      </div>
      <div *ngIf="filteredOptions().length === 0" class="no-results">
        No results found
      </div>
    </div>
  </div>
</div>
